    <div id="wrapper">
        <main>
            <div id="content">
                <div class="innertube">
                    <h1><span>وصل حديثا</span></h1>
                    <h2><span>عرض الكل</span></h2>
                    <main class="grid">
                        <article>
                            <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                            <span class="discount">جديد</span>
                            <img class="pimg" src="/assets/mobile2.png" alt="Sample photo">
                            <div class="text">
                                <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                                <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                        src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                        src="/assets/gold star.png" /></p>
                                <p>{{formated}}</p>
                                <button>أضف للسلة<img src="/assets/basket.png" /></button>
                                <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                            </div>
                        </article>
                        <article>
                            <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                            <span class="discount">جديد</span>
                            <img class="pimg" src="/assets/mobile 1.png" alt="Sample photo">
                            <div class="text">
                                <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                                <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                        src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                        src="/assets/gold star.png" /></p>
                                <p>{{formated}}</p>
                                <button>أضف للسلة<img src="/assets/basket.png" /></button>
                                <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                            </div>
                        </article>
                        <article>
                            <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                            <span class="discount">جديد</span>
                            <img class="pimg" src="/assets/tblack.png" alt="Sample photo">
                            <div class="text">
                                <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                                <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                        src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                        src="/assets/gold star.png" /></p>
                                <p>{{formated}}</p>
                                <button>أضف للسلة<img src="/assets/basket.png" /></button>
                                <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                            </div>
                        </article>
                        <article>
                            <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                            <span class="Newdiscount">عرض</span>
                            <img class="pimg" src="/assets/tshirt.png" alt="Sample photo">
                            <div class="text">
                                <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                                <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                        src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                        src="/assets/gold star.png" /></p>
                                <span>{{sales}}</span>
                                <p>{{formated}}</p>
                                <button>أضف للسلة<img src="/assets/basket.png" /></button>
                                <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </main>

        <nav id="nav">
            <div class="side">
                <h3>منتجات تصفحتها مؤخرا</h3>
                <div class="product-card">
                    <div class="product-image">
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img src="/assets/rose.png" />
                    </div>
                    <div class="product-details">
                        <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                        <p>{{formated}}</p>
                        <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                                src="/assets/blue basket.png" /></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="Newdiscount">عرض</span>
                        <img src="/assets/nick.png" />
                    </div>
                    <div class="product-details">
                        <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                        <span>{{sales}}</span>
                        <p>{{formated}}</p>
                        <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                                src="/assets/blue basket.png" /></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <img src="/assets/blue tshirt.png" />
                    </div>
                    <div class="product-details">
                        <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                        <p>{{formated}}</p>
                        <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                                src="/assets/blue basket.png" /></div>
                    </div>
                </div>

            </div>
        </nav>

    </div>



<!-- ----------------------- -->


<div id="wrapper">
    <main>
        <div id="content">
            <div class="innertube">
                <h1><span>موبايلات</span></h1>
                <h2><span>عرض الكل</span></h2>
                <main class="grid">
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/mobile2.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/mobile 1.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/tblack.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="Newdiscount">عرض</span>
                        <img class="pimg" src="/assets/tshirt.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <span>{{sales}}</span>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </main>

    <nav id="nav">
        <div class="side">
            <h3>منتجات تصفحتها مؤخرا</h3>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <span class="discount">جديد</span>
                    <img src="/assets/rose.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <span class="Newdiscount">عرض</span>
                    <img src="/assets/nick.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <span>{{sales}}</span>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <img src="/assets/blue tshirt.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>

        </div>
    </nav>

</div>


<!-- ----------------------- -->


<div id="wrapper">
    <main>
        <div id="content">
            <div class="innertube">
                <h1><span>لابتوب</span></h1>
                <h2><span>عرض الكل</span></h2>
                <main class="grid">
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/mobile2.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/mobile 1.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="discount">جديد</span>
                        <img class="pimg" src="/assets/tblack.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                    <article>
                        <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                        <span class="Newdiscount">عرض</span>
                        <img class="pimg" src="/assets/tshirt.png" alt="Sample photo">
                        <div class="text">
                            <h3>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h3>
                            <p><img src="/assets/white star.png" /><img src="/assets/white star.png" /><img
                                    src="/assets/white star.png" /><img src="/assets/gold star.png" /><img
                                    src="/assets/gold star.png" /></p>
                            <span>{{sales}}</span>
                            <p>{{formated}}</p>
                            <button>أضف للسلة<img src="/assets/basket.png" /></button>
                            <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /></div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </main>

    <nav id="nav">
        <div class="side">
            <h3>منتجات تصفحتها مؤخرا</h3>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <span class="discount">جديد</span>
                    <img src="/assets/rose.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <span class="Newdiscount">عرض</span>
                    <img src="/assets/nick.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <span>{{sales}}</span>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="fav" aria-label="أضف للمقارنة"><img src="/assets/compare_arrows_black_24dp.png"></span>
                    <img src="/assets/blue tshirt.png" />
                </div>
                <div class="product-details">
                    <h4>تيشيرت-كم طويل-آرت وير-نسائي-ملابس</h4>
                    <p>{{formated}}</p>
                    <div class="share"><img src="/assets/fav.png" /><img src="/assets/share.png" /><img
                            src="/assets/blue basket.png" /></div>
                </div>
            </div>

        </div>
    </nav>

</div>