<footer class="footer-distributed">

    <div class="footer-right">

        <img src="/assets/Path 224.png"/>

        <p class="footer-links">
            <a href="#" class="link-1">الرئيسية</a>
            
            <a href="#">قائمة الأمنيات</a>
        
            <a href="#">تواصل معنا</a>
        
            <a href="#">من نحن</a>
         </p>

        <p class="footer-company-name">جميع الحقوق محفوظة 2023</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Alexandria-Egypt</span></p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+201285856110</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="http://mostafaramadan.co/">http://mostafaramadan.co/</a></p>
        </div>

    </div>

    <div class="footer-left">

        <p class="footer-company-about">
            <span>عن الشركة</span>
            شركة خاصة فى مجال الدروب شوبينج
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>