<div class="nav">
    <input type="checkbox" id="nav-check">

    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="#" target="_blank">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        &nbsp;&nbsp;الأقسام</a>
      <a href="#" target="_blank" class="active">الرئيسية</a>
      <a href="#" target="_blank">قائمة الأمنيات</a>
      <a href="#" target="_blank">تواصل معنا</a>
      <a href="#" target="_blank">من نحن</a>
    </div>
  </div>